<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Plot</title>
</head>
<body class="bg-orange-500">
    <div class="container align-center ml-8 px-16 py-8 rounded-3xl drop-shadow-2xl">
        <div class=" mt-6 bg-white rounded-3xl drop-shadow-2xl ">
            <h1 class="px-72 text-6xl py-4">{{name}}</h1>
            <img class="px-44 object-scale-down ml-20" src="{{ image }}" height="100%" width="auto">
            <h1 class="px-72 text-4xl">List of Points for {{name}}</h1>
            <ul class="list-disc list-outside text-left text-xl py-8 px-36 ml-44">
                {% for i in listOfPoints %}
                <li> {{i}} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>